<!-- Toggle button -->
<button id="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>

<style>
  #theme-toggle {
    margin: 10px;
    border: none;
    color: var(--link-color);
    box-shadow: none;
    background-color: var(--background-primary);
    border-left: solid 1px;
    border-radius: 0px;
    font-size: 1rem;
    justify-content: left;
  }

  #theme-toggle::before {
    content: "🌙";
    content: attr(data-theme-icon);
    margin-right: 6px;
    text-decoration: none !important;
  }

  #theme-toggle:hover {
    color: var(--link-color-hover);
    background-color: var(--background-secondary);
    text-decoration: underline;
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const theme = localStorage.getItem("theme");
    if (theme) {
      document.body.classList.remove("theme-dark", "theme-light");
      document.body.classList.add(theme);
      const button = document.getElementById("theme-toggle");
      if (button) {
        const icon = theme === "theme-dark" ? "🌙" : "☀️";
        button.setAttribute("data-theme-icon", icon);
      }
    }
  });

function toggleTheme() {
  const currentTheme = document.body.classList.contains("theme-dark") ? "theme-dark" : "theme-light";
  const newTheme = currentTheme === "theme-dark" ? "theme-light" : "theme-dark";

  document.body.classList.remove("theme-dark", "theme-light");
  document.body.classList.add(newTheme);
  localStorage.setItem("theme", newTheme);

  // Update icon on button
  const button = document.getElementById("theme-toggle");
  if (button) {
    const icon = newTheme === "theme-dark" ? "🌙" : "☀️";
    button.setAttribute("data-theme-icon", icon);
  }
}

</script>
